body {
font-family: Arial;
background-color: rgb(134, 8, 8);
}
.container {
width: 400px;
margin: auto;
}
form input {
width: 100%;
padding: 8px;
margin-bottom: 8px;
}
button {
margin-right: 5px;
}
.card {
background: white;
padding: 10px;
margin-top: 10px;
}